/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black-main-text: #0C0C0C;
    --light-purple: #F2F0FF;
    --light-grey: #F3F6F9;
    --grey: #7A7A7A;
    --white: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-main-text);
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1, h3 {
    font-family: 'Merriweather', sans-serif;
}

h2  {
    font-size: 22px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 20px 0;
}

.button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 40px;
    box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.5);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-section {
    background: linear-gradient(150deg, rgba(72,69,228,1) 0%, rgba(72,69,228,1) 43%, rgba(87,34,205,1) 100%);
    color: var(--white);
}

.header-section a {
    color: var(--white);
    text-decoration: none;
}

.header-content {
    margin: 40px 0 90px;
    padding: 30px 0;
}

.header-content h1 {
    font-size: 37px;
}

.header-content h2 {
    padding: 20px 0;
    font-weight: 100;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 25px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 350px;
    padding: 0 15px;
    list-style: none;
}

.header-btn {
    padding: 20px 30px;
    margin: 10px 0;
}

.header-squiggle {
    margin: -13px;
}

.header-squiggle img {
    width: 75%;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction {
    margin: 0 0 50px;
}

.introduction-text {
    margin: 80px 0 30px;
}

.introduction h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 26px;
    color: var(--purple);
    padding: 14px 0;
}

.introduction p {
    margin-top: 80px;
}

.introduction a {
    text-decoration: none;
}

/* ------------------- 4.3. Articles -------------------------------- */

.article-section {
    background-color: var(--light-grey);
}

.article-section-container {
    display: flex;
    flex-direction: column;
    margin: 40px 45px 125px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 45px;
}

.article-1, .article-3 {
    flex-direction: row-reverse;
}

.article-2 .article-text {
    padding: 0 40px 0 60px;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    padding: 0 35px ;
}

.article-text h3 {
    font-size: 25px;
}

.article-text h3, .article-text p {
    padding: 25px  0;
}

.article-text a {
    color: var(--purple);
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.article-text .icon {
    width: 45px;
    padding: 5px 0;
}

.image-wrapper {
    flex-basis: 640px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.work-image {
    width: 100%;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3)
}

/* -------------------4.4. Service --------------------------------*/

.service-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-inner-container {
    flex-basis: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    margin: 35px 30px 50px;
    padding: 35px 60px;
}

.service-article {
    flex-basis: 300px;
    text-align: left;
    padding: 25px 25px 32px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    border: 1px solid var(--purple);
    box-shadow: 0 10px 12px rgb(0, 0, 0, 0.1)
}

.service-article h3 {
    color: var(--purple);
    font-size: 19px;
    padding-bottom: 15px;
}

.service-article img {
    max-width: 65px;
    margin: 10px 0;
}

/* ------------------- 4.5. Form -------------------------------- */

.contact-section {
    background: linear-gradient(150deg, rgba(72,69,228,1) 0%, rgba(72,69,228,1) 43%, rgba(87,34,205,1) 100%);
    color: var(--white);
}

.contact-section h2 {
    font-family: 'merriweather', sans-serif;
    font-size: 37px;
    padding: 75px 0 20px;
}

.contact-section h4 {
    font-weight: 100;
    padding-bottom: 25px;
}

.contact-form {
    display: grid;
    padding: 0 10px;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}

input[type="text"], input[type="email"], textarea {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32px;
}

#message {
    margin-bottom: 30px;
}

label {
    text-align: start;
}

.form-btn {
    padding: 20px 60px;
    margin-bottom: 30px;
}


/* ---------------------4.6 Footer -------------------------------*/

footer {
    color: var(--white);
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    font-size: 12px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */


@media screen and (max-width: 576px) {
    .inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
    }

    .header-content {
        margin: 80px 0 150px;
        padding: 35px 0;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header-nav ul {
        flex-basis: 425px;
        justify-content: space-between;
        padding: 10px 5px 0;
    }

    .header-content h2 {
        font-size: 28px;
        font-weight: 200;
        margin: 10px 0;
    }

    .header-btn {
        padding: 25px 35px;
        margin: 10px 0 0;
        font-size: 14px;
    }

    .header-squiggle img {
        width: 90%;
    }

    .introduction-text {
        margin: 100px 0 30px;
        padding: 20px 0;
    }

    .introduction h2 {
        font-family: 'Merriweather', sans-serif;
        font-size: 25px;
        color: var(--purple);
    }

    .introduction p {
        font-size: 22px;
        margin: 50px 0 0;
    }

    .button {
        background-color: var(--pink);
        color: var(--white);
        border: none;
        border-radius: 40px;
        box-shadow: 5px 5px 25px rgb(0, 0, 0, 0.5);
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 30px 45px;
    }

    .article {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .article-section-container {
        margin: 70px 20px;
    }

    .article-text {
        width: 500px;
        flex-basis: 180px;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .article-text h3 {
        font-size: 35px;
    }

    .article-text p {
        font-size: 20px;
    }

    .article-text a {
        color: var(--purple);
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .article-text .icon {
        width: 65px;
        padding: 5px 0;
    }

    .article-text a {
        font-size: 16px;
    }

    .article-2 .article-text {
        padding: 0;
    }

    .article-text h3, .article-text p {
        padding: 35px 0;
    }

    .image-wrapper {
        flex-basis: 400px;
        padding: 0;
    }

    .service-inner-container {
        flex-basis: 550px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: column;
        margin: 80px 0 20px;
    }

    .service-article {
        flex-basis: 400px;
        padding: 40px;
        font-size: 18px;
        letter-spacing: 0;
    }

    .service-article h3 {
        color: var(--purple);
        font-size: 28px;
        padding-bottom: 20px;
    }

    .service-article img {
        max-width: 85px;
    }

    .contact-form {
        padding: 0;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
    }

    .contact-section {
        padding: 30px 0 60px;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 25px;
        border-radius: 4px;
        font-size: 18px;
    }

    .form-btn {
        padding: 25px 85px;
        margin-bottom: 30px;
    }

    footer {
        font-size: 15px;
    }
}